:root {
    --input-outline: 2px solid #808080;
    --box-shadow: 3px 3px #000000;
}

.sort-div {
    padding: 15px;
    border-radius: 100px; 
    position: relative;
    width: 80%;
    height: 50px;
    gap: 10px;
    display: flex;
    align-items: center;
    background: var(--standart-background);
}

.sort-selector {
    border-radius: 100px;
    padding: 10px;
    height: 40px;
    border: var(--input-outline); 
    transition: 100ms;
    background: var(--standart-background);
    width: 40%;
    color: var(--text-color);
}

.sort-selector:focus {
    border: var(--input-outline);
    
}

.refresh {
    position: absolute;
    font-size: 18px;
    right: 10px;
}

.refresh:active {
transform: translate(3px, 3px);
    box-shadow: none;
}

.refresh-text {
    color: black;
}

.nav-credit{
    display: block;
    text-align: center;
    color: white;
}

.nav-credit a:visited, .nav-credit a{
    color: white;
}

.search-input {
    border-radius: 100px;
    padding: 10px;
    height: 40px;
    border: var(--input-outline); 
    transition: 100ms;
    background: var(--standart-background);
    width: 40%;
    color: var(--text-color);
}

.search-input:focus{
    outline: none;
}

@media screen and (max-width: 550px) {
    .sort-selector {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .sort-selector {
        width: 70%;
    }
}

