<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' href='./style/style.css'>
    <script type='text/javascript' src='./script/script.js' defer></script>
    <title>cesco-temp</title>
</head>
<body>
    <p class="i">Lorem ipsum dolor... (le reste du texte) </p>
    <div class="settings-popup">
        <div class="settings-popup-content">
            <div class="settings-popup-top">
                <h1 class="settings-title">Paramètres</h1>
                <button class="close-settings">X</button>
            </div>
            <div class="settings-popup-middle">
                <label class="file-upload-button">
                    <input type="file" class="file-input"/>
                </label>
                <p class="label">Nom d'utilisateur</p>
                <input type="text" placeholder="Nom d'utilisateur" name="username">
                <p class="label">Mot de passe</p>
                <input type="password" placeholder="Mot de passe" name="password">
                <input type="password" placeholder="Confirmer le mot de passe" name="confirm">
            </div>
            <div class="settings-bottom">
                <button class="save">Enregistrer</button>
            </div>
        </div>
    </div>
</body>
</html>
