.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    backdrop-filter: blur(5px);
    animation: fade-in 250ms ease-in-out;
    z-index: 4;
}

.popup.show {
    display: flex;
    animation: fade-in 250ms;
}

.popup.closing {
    animation: fade-out 250ms ease-in-out;
}

.popup-content {
    border-radius: var(--border-radius);
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.popup-content.mini, .popup-content.report {
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.popup-content.report {
    height: 220px;
}


.popup-content::-webkit-scrollbar {
    display: none;
}

.popup-content-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: var(--secondary-background) var(--popup-content-close-black) no-repeat center;
    background-size: 35px;
    cursor: pointer;
}

.popup-content-close.special {
    z-index: 2;
    right: 17.5px;
    top: 17.5px;
    background: transparent var(--popup-content-close-white) no-repeat center;
    background-size: 35px;
}

.popup-content-left, .popup-content-center, .popup-content-right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background);
    transition: 0.3s;
}

.popup-content-center, .popup-content-right {
    width: 100%;
    background: var(--secondary-background);
}

.popup-content-center {
    padding: var(--padding);
}

.popup-content-center.mini, .popup-content-center.report{
    width: 300px;
    height: 300px;
}

.popup-content-center.special {
    display: block;
}


.popup-content-right {
    width: 60%;
}

.popup-content-title, .popup-content-link {
    color: var(--secondary-color);
    transition: 0.3s;
}

.popup-content-title.special {
    color: var(--color);
    position: absolute;
    top: 2.5px;
    left: 15px;    
}

.popup-content-link {
    text-decoration: underline;
    cursor: pointer;
}

.popup-content-inputbox {
    position: relative;
    width: 250px;
    margin: 5px;
}

.popup-content-inputbox-input, .popup-content-button  {
    width: 100%;
    padding: 10px;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
    font-size: 1em;
    background-color: var(--secondary-background)
}

.popup-content-button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.popup-content-inputbox-span {
    position: absolute;
    left: 0;
    padding: 12px;
    pointer-events: none;
    font-size: 1em;
    color: gray;
    transition: 0.3s;
}

.popup-content-inputbox .popup-content-inputbox-input:valid ~ .popup-content-inputbox-span, .popup-content-inputbox .popup-content-inputbox-input:focus ~ .popup-content-inputbox-span {
    color: var(--color);
    transform: translate(10px, -7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--secondary-background);
}

.file-upload-button {
    display: inline-block;
    height: 200px;
    width: 200px;
    color: transparent;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    background-image: url(../templatesContent/profileExample.jpeg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid black;
}

.file-upload-button::after {
    border-radius: 10px;
    content: "";
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/pencil.svg);
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    user-select: none;
}

.file-upload-button:hover::after {
    display: block;
} 


.file-upload-input {
    display: none;
}

.popup-content-textarea {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: var(--padding);
    width: calc(100% + 10px);
    height: calc(100% - 150px);
    outline: none;
    overflow-y: scroll;
    word-wrap: break-word
}

.popup-content-footer {
    border-radius: var(--border-radius);
    padding: var(--secondary-padding);
    width: calc(100% - 10px);
    gap: var(--secondary-gap);
    display: flex;
    flex-direction: column;
    background: var(--background);
}

.popup-content-footer-buttons {
    display: flex;
    gap: var(--secondary-gap);
}

.popup-content-footer-button, .popup-content-footer-send {
    width: 25%;
    height: 40px;
    border-radius: var(--border-radius);
    background: var(--secondary-background);
    cursor: pointer;
}

.popup-content-footer-send {
    height: 40px;
    width: 100%;
}

.img-preview{
    border-radius: 10px;
    border: solid white;
}

.follow {
    border-radius: var(--border-radius);
    position: absolute;
    right: 55px;
    height: 35px;
    padding: 5px;
    width: 100px;
    background: var(--secondary-background);
    cursor: pointer;
}

.follow.followed {
    border: var(--border-width) var(--border-style) var(--secondary-border-color);
    color: var(--secondary-color);
    background: var(--background);
}

.popup-content-main {
    transform: translateY(-20px);
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .popup-content {
        border-radius: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .popup-content.mini {
        border-radius: var(--border-radius);
    }

    .popup-content.report {
        height: 100%;
        width: 100%;
    }

    .popup-content-center.report {
        height: 100%;
        width: 100%;
    }

    .popup-content-close {
        width: 10vw;
        height: 10vw;
        background: var(--background) var(--popup-content-close-white) no-repeat center;
        background-size: 10vw;
    }

    .popup-content-close.mini {
        width: 7vw;
        background: var(--secondary-background) var(--popup-content-close-black) no-repeat center;
        background-size: 7vw
    }

    .popup-content-close.special {
        top: 15px;
        right: 15px;
        background: var(--secondary-background) var(--popup-content-close-black) no-repeat center;
        background-size: 50px;
        height: 50px;
        width: 50px;
    }

    .popup-content-close.very {
        height: 40px;
        width: 40px;
        background: var(--background) var(--popup-content-close-white) no-repeat center;
        background-size: 35px;
    }    

    .popup-content-left, .popup-content-right  {
        width: 100%;
        height: 40%;
    }

    .popup-content-center {
        width: 100%;
        height: 100%;
    }

    .popup-content-title {
        font-size: 10vw
    }

    .popup-content-title.special {
        font-size: 40px;
    }

    .popup-content-link {
        font-size: 4vw;
    }

    .popup-content-right {
        height: 60%;
        overflow-y: hidden;
    }

    .popup-content-inputbox, .popup-content-button {
        width: 80vw;
    }

    .popup-content-inputbox-input, .popup-content-button {
        height: 15vw;
    }

    .popup-content-inputbox-input:focus  .popup-content-left {
        background: red;
    }

    .popup-content-inputbox-span, .popup-content-button {
        padding: 4.2vw;
        font-size: 4vw;
    }

    .popup-content-inputbox .popup-content-inputbox-input:valid ~ .popup-content-inputbox-span, .popup-content-inputbox .popup-content-inputbox-input:focus ~ .popup-content-inputbox-span {
        font-size: 3vw;
    }

    .popup-content-textarea, .popup-content-footer-button, .popup-content-footer-send {
        font-size: 20px;
    }

}

@media screen and (max-width: 550px) {
    .popup-content-close.mini {
        width: 8vw;
        height: 8vw;
        background-size: 8vw
    }
}

@media screen and (max-width: 480px) {
    .popup-content-footer-button, .popup-content-footer-send {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .popup-content-close.mini {
        width: 10vw;
        height: 10vw;
        background-size: 10vw
    }

    .popup-content-close.special {
        top: 16px;
    }
}

@media screen and (max-width: 400px) {
    .popup-content-title.special  {
        font-size: 35px;
    }

    .popup-content-close.special  {
        top: 13px;
        right: 13px;
        background: var(--secondary-background) var(--popup-content-close-black) no-repeat center;
        background-size: 42.5px;
    }
}